.addedItem {
    width: 56rem;
    background: #fff;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Mukta Vaani', sans-serif;
}

.addedItem img {
    width: 9rem;
    height: 9rem;
    margin: .25rem;
}

.addedItemInfoAndPhoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-around;
}

.addedItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #242222;
}

.addedItemInfo p {
    margin: .25rem;
    font-size: 1.5rem;
}

.addedItemQuantity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addedItemQuantity p {
    margin: 0 1rem;
}

.addedItem h5 {
    font-size: 1.5rem;
    margin: .25rem;
    text-transform: capitalize;
}

.quantityBtn {
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #fff;
    background: #184C40;
    border-radius: 2px;
    transition:  1s ease-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.5px;
    cursor: pointer;
    font-family: 'Libre Franklin', sans-serif;
    padding: .1rem .5rem;
}

.collect-step1 {
    text-decoration: none;
    color: #fff;
}

.quantityBtn:active,
.trash:active {
    box-shadow: none;
    background: #fff;
}

.quantityBtn:hover {
    background: #102C2B;
}

.trash {
    color: #184C40;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin-left: 5rem;
    cursor: pointer;
}

@media screen and (max-width: 960px){
    .addedItem {
        width: 17.5rem;
    }

    .addedItemInfo {
        max-width: 50%;
    }

    .addedItem img {
        width: 8rem;
        height: 8rem;
    }

    .addedItemInfo h5 {
        font-size: 1rem;
    }

    .addedItemInfo p {
        font-size: .875rem;
    }

    .trash {
        margin-left: 0;
        font-size: 1rem;
    }

    .quantityBtn {
        font-size: 1rem;
        padding: 0rem .5rem;
    }
}
