.footer {
    background: #242222; 
    height: 25rem;
    width: 100vw;
    margin-top: 20rem;
    display: flex;
    padding: 1.25rem;
    color: #D3D3D3;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Mukta Vaani', sans-serif;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.footer-left {
    width: 40%;
}

.social {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.social i {
    margin-right: 2rem;
}

.footer-link,
.footer-right a {
    text-decoration: none;
    color: #D3D3D3;
}

.footer h5 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.25rem;
}

.footer p {
    margin: .5rem 0;
    font-size: 1rem;
}

.footer-right i {
    margin-right: 1rem;
}

@media screen and (max-width: 960px){
    .footer {
        height: fit-content;
        flex-direction: column;
        margin-top: 3rem;
    }

    .footer h5 {
        margin: 1.25rem .25rem .5rem .25rem;
        font-size: 1rem;
    }

    .footer p {
        font-size: .875rem;
    }

    .footer-logo img {
        width: 12rem;
        height: auto;
    }

    .footer-left {
        width: 100%;
    }

    .social {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .footer-center,
    .footer-left,
    .footer-right {
        align-items: center;
        margin-top: 1.25rem;
    }
}
