@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Merienda&family=Mukta+Vaani:wght@300&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

.image-slider {
    width: 90vw;
    height: 80vh;
    margin: 2rem auto;
}

.singleDotStyle {
    color: #f8f8f8;
    margin: 0 .25rem;
    font-size: 1rem;
    cursor: pointer;
}

.activeDotStyle {
    color: #184C40;
    cursor: pointer;
    font-size: 1rem; 
}

.singlePStyle {
    display: none;
}

.activePStyle {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    bottom: 2.5rem;
    min-width: 20rem;
    left: 10rem;
    background: rgba(0, 0, 0, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.6px);
    -webkit-backdrop-filter: blur(0.7px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 2rem;
    font-family: 'Libre Franklin', sans-serif;
}

.activePStyle:hover {
    cursor:default;
}

h1 {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 5px;
    font-size: 2rem;
}

@media screen and (max-width: 960px){
    .activePStyle {
        font-size: 1rem;
        min-width: 12.5rem;
        left: -4rem;
    }

    .image-slider {
        height: 50vh;
        margin-top: 8.25rem;
    }

}