@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Merienda&family=Mukta+Vaani:wght@300&display=swap');

.item{
    display: flex;
    width: 450px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
}
.item img{
    width: 300px;
    height: 300px;
    margin: 5px;
}
.itemPhotoAndInfo{
    display: flex;
    flex-direction: row;
}
.itemInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mukta Vaani', sans-serif;
    text-transform: capitalize;
    font-size: 22px;
}
.itemInfo h5{
font-size: 24px;
margin: 5px;
color: #242222;
}
.itemInfo p{
    margin: 2px;
    color: #242222;
}
.buy{
    width: 90%;
    padding: 1rem;
    cursor: pointer;
font-family: 'Libre Franklin', sans-serif;
font-size: 18px;
color: #fff;
background: #184C40;
outline: none;
border: none;
border-radius: 2px;
transition:  1s ease-out;
box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 2.5px;
}
.buy:hover{
    background:  #11362e;;
}
.buy:active{
   background: #fff;
    box-shadow: none;
}
@media screen and (max-width: 960px){
    img{
        width: 150px;
        height: 150px;
    }
    .item{
        width: 280px;
    }
    .itemInfo h5{
        font-size: 18px;
        margin: 5px 0;
    }
    .buy{
        font-size: 14px;
        padding: .8rem .2rem;
    }
}