*{
    box-sizing: border-box;
}
body{
    background-color: #f8f8f8;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}
form{
    margin:60px 25px 10px 25px;
    width: 800px;
    background: #ee9ca7;  
background: -webkit-linear-gradient(to top, #4669a6, #eea7ad);  
background: linear-gradient(to top, #4669a6, #eea7ad); 
padding: 20px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #f8f8f8;
}
form>h1{
    color: #f8f8f8;
    margin: 30px;
    text-transform: uppercase;
}
.formInput{
    margin: 20px 12px;
    width: 400px;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #f8f8f8;
    font-size: 16px;
    font-family:'Mukta Vaani', sans-serif;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #f8f8f8;
}
::placeholder{
    color: #f8f8f8;
}
.err{
    font-size: 12px;
    color: #f8f8f8e1;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.registerBtn{
    border: none;
    outline: none;
    font-size: 18px;
    color: #4669a6;
   background: #f8f8f8;
border-radius: 2px;
transition:  1s ease-out;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.5px;
cursor: pointer;
font-family: 'Libre Franklin', sans-serif;
padding:  1rem 2rem;
margin: 20px 10px 10px 10px;
}
.registerBtn:hover{
    background: #ee9ca7;
    color: #fff;
}
.link{
    color: #f8f8f8;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    margin: 10px;
}
.link:visited{
text-decoration: none;
}
.success{
    background: #f8f8f8;
    width: 800px;
    z-index: 99;
    color: #4669a6;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all ease .4s;
}
#login{
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.success .closeSuccess{
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.success .closeSuccess:active{
    font-size: 26px;
}
.success img{
    height: 100%;
    padding: 20px;
}
.successInfo{
    font-size: 44px;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
    margin: 50px 10px 10px 10px;
}
.closeSuccess i {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #4669a6;
}
.hide{
   display: none;
}
.dataInputs{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0 30px;
}
.dataInputs p{
    font-size: 20px;
}
.personal{
    width: 250px;
}
.dataText{
    color: #f8f8f8;
    margin-left: 15px;
}
#dataText1,
#dataText2{
    margin-left: 0;
}
.deliveryAddress{
    margin-top: 120px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.payAndDeliver{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    grid-gap: 20px;
}
.payAndDeliver select{
    width: 250px;
    background: #4669a6;
    color: #f8f8f8;
    font-size: 16px;
    font-family:'Mukta Vaani', sans-serif;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: 1px solid #f8f8f8;
}
.methodText{
    color: #f8f8f8;
    font-size: 18px;
}
.buyForm{
    display: flex;
    margin-right: 0;
}
.orderForm{
    color: #f8f8f8;
    margin:80px 30px 10px 30px;
    width: 800px;
    background: #ee9ca7;  
background: -webkit-linear-gradient(to top, #4669a6, #eea7ad);  
background: linear-gradient(to top, #4669a6, #eea7ad); 
padding: 20px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cartSuccess{
    background: #f8f8f8;
    width: 600px;
    height: 400px;
    z-index: 99;
    color: #4669a6;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    transition: all ease .4s;
    margin-top: 20px;
}
.cartSuccess p{
    font-size: 40px;
    font-family: 'Libre Franklin', sans-serif;
}
.cartSuccess img{
    width: 200px;
}
.deliveryData{
    margin-top: 60px;
    margin-bottom: 20px;
}

@media screen and ( max-width: 960px){
    form{
        margin-top: 100px;
        width: auto;
    }
    .formInput{
        width: 100%;
        padding: 5px;
        margin: 10px 6px;
        font-size: 14px;
    }
    h1{
        font-size: 28px;
    }
  p,
  .link{
    font-size: 14px;
  }
  button,
  .registerBtn{
font-size: 14px;
padding: .8rem 1.2rem;
  }
  .payAndDeliver{
    grid-gap: 8px;
  }
  .payAndDeliver select{
    width: 100%;
    font-size: 12px;
    padding: 2px;
  }
  .dataText{
    margin-left: 10px;
  }
  .deliveryAddress{
    margin-top: 40px;
  }
  .orderForm{
    width: auto;
  }
  .dataInputs p{
    font-size: 14px;
  }
  .cartSuccess{
    width: auto;
    height: auto;
    padding: 0 20px;
  }
  .cartSuccess p{
    font-size: 20px;
  }
  .cartSuccess img{
    width: 100px;
    height: auto;
  }
  .success{
    width: auto;
    height: auto;
  }
  .success img{
    padding: 20px 0;
  }
  .successInfo{
    font-size: 18px;
    line-height: normal;
    margin: 40px 5px 0 5px;
  }
  .success .closeSuccess{
    top: 0px;
    right: -16px;
  }
  .closeSuccess i{
    font-size: 18px;
  }
 .registerForm{
    width: 80%;
 }
}
