
.cartProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total p {
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;;
}

.collectBtn-step1 {
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #fff;
    background: #184C40;
    border-radius: 2px;
    transition:  1s ease-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.95px 2.5px;
    cursor: pointer;
    font-family: 'Libre Franklin', sans-serif;
    padding:  1rem 2.5rem;
}

.total button:active,
.collectBtn-step1:active {
    box-shadow: none;
    background-color: #fff;
}

.total button:hover {
    background:  #102C2B;
}

@media screen and (max-width: 960px){
    .total p {
        font-size: 1.25rem;
    }

    .collectBtn-step1 {
        font-size: .875rem;
        padding: .8rem 1.2rem;
    }

    .cartProducts {
        margin-top: 7.5rem;
    }
}